.btn{
  width: 30%;
  margin: 0 15px;
}

.acesso-bot{
  display: flex;
  align-items: center;
  justify-content: center;
}

.acesso-bot input, button{
  width: 300px;
}

.agulhao{
  background-image: url("/assets/images/smartphoneLogoAgulhao.svg");
  background-repeat: no-repeat;
  background-position: center;

}
.col{
  margin-top: 30px;
  height: 90vh;
}
