

.agulhao{
  background-image: url("/assets/images/smartphoneLogoAgulhao.svg");
  background-repeat: no-repeat;
  background-position: center;


}
.col{
  height: 95vh;
}


.form-control{
  text-align: center;
}



.titulo-facu{
  font-size: 40px;

}
