<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col bg-primary">
      <h1>Dúvidas</h1>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Matrícula</button>
        <button type="button" class="list-group-item list-group-item-action">Acesso Moodle</button>
        <button type="button" class="list-group-item list-group-item-action">Erro Financeiro</button>
      </div>
    </div>

    <div class="col bg-primary">
      <h1>Editar</h1>
      <div class="formBot">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Título</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Matricula, professor, etc">
        </div>
        <div class="mb-3">
          <label for="criar-pergunta" class="form-label">Pergunta</label>
          <textarea class="form-control" id="criar-pergunta" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="cria-resposta" class="form-label">Resposta</label>
          <textarea class="form-control" id="cria-resposta" rows="3"></textarea>
        </div>
        <button id="botao-adicionar" class="btn btn-danger">Adicionar</button>
      </div>
    </div>

  </div>
</div>

