*{
  margin: 0;
  padding: 0;


}
  /*Tudo abaixo do nav-bar*/

  element.style {
    padding-left: 100px;
  }
    .grid{
      display: grid;
    }

    .grid-template-columns{
      width: 100vw;
      height: 100vh;
      grid-template-columns: 1fr 1fr;
    }

    nb-layout-column{
      display: flex;
      justify-content: center;
    }

  /*1 - Container*/

   .container1{
     width: 60vw;
     height: 80vh;
     justify-content: center;
     justify-self: center;
     align-content: center;

   }

   nb-chat {
     height: 70vh;
     width: 57vw;
     position: relative;
     
   }

  /*2 - Container*/

   .container2{
     background-color: #fff;
     border: none;
     border-radius: 0.25rem;
     box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
     width: 30vw;
     height: 70vh;
     position: relative;
     padding-left: 2%;
   }

/* Form field styling */

input,textarea {
  border: 2px solid #eeeeee;
  height: 46px;
  margin: 10px 0 0 0;
  padding: 1%;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #333333;
  letter-spacing: .01em;
  font-style: normal;
  font-weight: 300;
}

#fname {
  width: 100%;
  border-radius: 0.25rem;
}

#emailbox {
  width: 100%;
  border-radius: 0.25rem;
}

#assunto {
  width: 100%;
  border-radius: 0.25rem;
}

#message {
  width: 100%;
  height: 250px;
  border-radius: 0.25rem;
  outline: unset;
}

input[type=checkbox] {
  visibility: hidden;
}

#checkbox {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

.customCheck {
  width: 90%;
  float: left;
  margin-top: 20px;
  position: relative;
}

.customCheck label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: #eee;
  border: 1px solid #ddd;
}

.customCheck label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.customCheck label:hover::after {
  opacity: 0.5;
}

.customCheck input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.robot {
  display: inline-block;
  position: relative;
  width: 60%;
  margin: 0 0 0 30px;
  line-height: 1em;
}

#submit {
  display: block;
  border: 0;
  width: 25%;
  height: 60px;
  margin: 30px auto 0;
  background: #eee;
  color: #333;
  text-align: center;
  transition: background, color, .5s ease 0;
  border: 0;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #333333;
  letter-spacing: .01em;
  font-style: normal;
  font-weight: 300;
}

#submit:hover {
  background: #DADADA;
  border: 1px #DADADA;
  color: #C43C3E;
}
/* Top-level Styling */

* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

body {
  background-color: #e6e6e6;
  margin: 0 auto;
}

#wrapper {
  max-width: 1020px;
  height: 100%;
  background: #fff;
  margin: 0px auto 0;
  padding: 20px;
}
/* Div Layout Styling */

#faleConoscoBox {
  position: relative;
  margin: 0 auto;
  padding: 10px 0;
  height: auto;
  width: 90%;
  min-width: 325px;
}

*:focus {
  outline: none;
}

.faleConoscoForm {
  display: block;
  margin: 20px 0 0 0;
  width: 90%;
}
/* Text Styling for h2, p, a */

h2 {
  font-weight: 500;
  letter-spacing: .05em;
  color: #222b45;
  font-style: normal;
  font-family: Open Sans, sans-serif;
}

.thin {
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #222b45;
}

a:hover {
  text-decoration: none;
  color: #C43C3E;
}

p {
  display: block;
  width: 90%;
  margin: 20px 0 0 0;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #333333;
  letter-spacing: .01em;
  font-style: normal;
  font-weight: 300;
}

