<app-nav-bar></app-nav-bar>
<div class="container-fluid">
     <h1>Chat</h1>
        <div class="container">
          <ol>
            <li>
              <div class="chat-nome">
                <img src="favicon.ico" width="30px" height="30px" alt="imgBot">
                <h4>{{alunoAleatorio}}</h4>
              </div>
              <textarea class="form-control" id="criar-pergunta" rows="3" placeholder="Tire sua dúvida:"></textarea>
            </li>
            <li>
              <div class="chat-nome">
                <img src="favicon.ico" width="30px" height="30px" alt="imgBot">
                <h4>{{nomeBot}}</h4>
              </div>
              <mat-dialog-content>Boa noite, como posso ajudar?</mat-dialog-content>

            </li>
          </ol>
        </div>
</div>
