h1{
  text-align: center;
}

.list-group{
  margin-top: 10vh;

}

.chatDoBot{
  margin-top: 10vh;
  background-color: #A8A8B3;
  border-radius: 30px;
  height: 70vh;
}
.chatDoBot div{
  margin: 10px;
}

