<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Dúvidas Frequentes</h1>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Matrícula</button>
        <button type="button" class="list-group-item list-group-item-action">Acesso Moodle</button>
        <button type="button" class="list-group-item list-group-item-action">Erro Financeiro</button>
      </div>
    </div>

    <div class="col">
      <h1>{{ nomeBot }}</h1>
      <div class="chatDoBot">
        <div class="respostaBot">
          <div>
            <img src="./assets/images/agulhaoLogo.svg" width="20px" height="20px">
            <h4>{{nomeBot}}</h4>
          </div>
          <div class="textoBot">

          </div>
        </div>
        <div class="perguntaAluno">
          <div>
            <img src="./assets/images/agulhaoLogo.svg" width="20px" height="20px">
            <h4>Aluno</h4>
          </div>
          <div class="textoaluno">

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
