<app-nav-bar></app-nav-bar>
<div class="container-fluid">
     <h1>Chat</h1>
        <div class="container">
          <ol>
            <li>
              <div class="chat-nome">
                <img src="favicon.ico" width="30px" height="30px" alt="imgBot">
                <h4>{{alunoAleatorio}}</h4>
              </div>
              <input type="text" class="" id="">
            </li>
            <li>
              <div class="chat-nome">
                <img src="favicon.ico" width="30px" height="30px" alt="imgBot">
                <h4>{{nomeBot}}</h4>
              </div>
              <mat-dialog-content>Boa noite, como posso ajudar?</mat-dialog-content>
              <mat-form-field appearance="fill">

                <mat-label>Posso ajudar?</mat-label>
                <input matInput [(ngModel)]="nomeBot">
              </mat-form-field>
            </li>
            <li>
              <button mat-raised-button (click)="openDialog()">Pick one</button>
            </li>
            <li *ngIf="nomeBot">
              You chose: <i>Test</i>
            </li>
            <li>
              <img src="favicon.ico">
              <mat-form-field appearance="fill">
                <mat-label>Posso ajudar?</mat-label>
                <input matInput [(ngModel)]="nomeBot">
              </mat-form-field>
            </li>
          </ol>
        </div>
</div>
