<div class="container">
  <div class="row text-center">
    <div class="col col-acesso">
      <div>
        <a href=" "><img src="assets/images/logoGB.svg" alt="logo-granbery" width="150px" height="150px"></a>
        <h1 class='titulo-facu'>Faculdade Metodista Granbery</h1>
      </div>
      <div>
        <form>
          <div class="form-home">
              <input type="email" class="form-control" id="nome" aria-describedby="emailHelp" placeholder='Nome: '>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder='E-mail: '>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder='Senha: '>
              <input type="email" class="form-control" id="matricula" aria-describedby="emailHelp" placeholder='Matricula: '>
            </div>
            <button type="submit" class="btn btn-primary">Cadastra</button>
        </form>
      </div>
    </div>
    <div class="col agulhao">

    </div>
  </div>
</div>
<app-footer></app-footer>
