<!--Pagina Pricipal-->
<div class="container">
  <div class="row text-center">
    <div class="col col-acesso">
      <div>
        <a href=" "><img src="assets/images/logoGB.svg" alt="logo-granbery" width="150px" height="150px"></a>
        <h1 class='titulo-facu'>Faculdade Metodista Granbery</h1>
      </div>

      <div>
        <br>
      <a href="chat-bot">
        <button class="btn btn-primary">Agulhão Bot</button>
      </a>
        <hr>
        <h4>PROFESSOR</h4>
        <hr>
      </div>


      <div class="acesso-bot">
        <form>
          <div class="mb-3">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-mail: ">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" value="" placeholder="Senha: ">
          </div>
        </form>
      </div>
      <a href="">
        <button class="btn btn-primary">Acessar</button>
      </a>

      <br>
    </div>
    <div class="col agulhao">

    </div>
  </div>
</div>
<app-footer></app-footer>
