  .acesso-bot{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .acesso-bot input, button{
    width: 300px;
  }

  .agulhao{
    background-image: url("/assets/images/smartphoneLogoAgulhao.svg");
    background-repeat: no-repeat;
    background-position: center;

  }
  .col{
    height: 90vh;
  }

  #img-sair{
    margin-left: 30px;
  }
  .professorAcesso{
    text-align: center;
    color: #212529;
    font-size: 20px;
  }
