

<nav class="navbar " >
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#links-menu" >
        <i class="material-icons">menu</i>
      </button>
    </div>

    <nav id="links-menu" class="collapse navbar-collapse">
      <a class="navbar-brand" href="#"><img src="../../../assets/images/logoGB.svg" alt="logo" width="45px"height="45px"/></a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Professores</a></li>
        <li><a href="#">Alunos</a></li>
        <li><button class="btn btn-danger" type="submit">SAIR</button></li>

      </ul>
    </nav>

  </div>

</nav>
